.product-main{
  position: relative;
  margin: 0.6vw 0.6vw 0.6vw 0.6vw;
}
.product-main p{
  margin: 1vw 0vw 1vw 2vw;
}
.product-main h3{
  margin: 1vw 0vw 1vw 2vw;
}
p{
  margin: 0.5vw 0vw 0.5vw 0vw;
}
.product-button{
  transform: translate(-50%,-50%);
  position: absolute;
  left: 5.3vw;
  text-align: center;
  width: 10vw;
  border: solid white 0.05vw;
  color: white;
  font-size: 1.5vw;
}
.product-main{
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.product-type{
  font-size: 2vw;
}
.product-title{
  font-size: 3vw;
}
