.carousel-main{
  text-align: left;
}
.slide-div{
  position: relative;
  width: 70vw;
  height: 34.5vw;
}
.slide-div img{
  width: 70vw;
}
.carousel-slide{
  position: absolute;
  left: 5vw;
}
.arrow{
  font-size: 5vw;
  top: 13vw;
  z-index: 1000;
  position: absolute;
}
.left-arrow{
  left: 6vw;
}
.right-arrow{
  right: -4vw;
}
.slide-words{
  position: absolute;
  top: 9vw;
  left: 11vw;
}
.slide-title{
  font-size: 3vw;
}
.slide-desc{
  font-size: 1.5vw;
}
.slide-2{
  display: none;
}
.slide-3{
  display: none;
}
.three-circles{
  position: absolute;
  bottom: 2vw;
  left: 9vw;
  font-size: 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 5vw;
}
.circle-2{
  opacity: 0.5;
}
.circle-3{
  opacity: 0.5;
}
